<div class="d-md-block d-none display-5 text-center fw-bold py-3 post-heading">Your Feed</div>
<div class="d-md-none d-block h4 text-center fw-bold py-1 post-heading">Your Feed</div>

<%= turbo_stream_from "posts" %>
<%= turbo_frame_tag "posts" do %>
  <%= render @posts %>
<% end %>
<div class="text-center m-5 footer"><%== pagy_bootstrap_nav(@pagy) %></div>