<%= turbo_stream.update("index") do %>
  <div class="display-6 text-center py-3 post-heading">Your Feed</div>
  <% @posts.each do |post| %>
  <%= render "posts/post", post: post %>
  <% end %>
<% end %>