<div class="display-6 text-center py-3 post-heading">Your Feed</div>

<% @posts.each do |post| %>
  <div class="card m-5" style="width: 90%;">
    <div class="card-body p-4">
      <%= render "posts/posts", post: post %>
      <hr>
      <%= render "posts/reactions", post: post %>
      <hr>
      <%= render "posts/comments", post: post %>
    </div>
  </div>
<% end %>
