<div class="d-md-block d-none display-5 text-center fw-bold py-3 post-heading">New Post</div>
<div class="d-md-none d-block h4 text-center fw-bold py-1 post-heading">New Post</div>
<%= render "posts/form", user: current_user, post: @post %>