.bg {
  background-color: purple;
  color: white;
}

.error-messages {
  text-align: left;
  font-size: 12px;
  padding: 2px;
  color: red;
  font-style: italic;
}

.form-signin{
  margin-left: 39% !important;
  margin-right: 39% !important;
}

.link {
  font-size: 16px;
  color: purple;
  text-decoration: none;
}
.link:hover {
  color: black;
}

.btn-lg {
  background-color: purple;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  border: none
}

.bio {
  font-size: 16px;
  border: 1px dashed purple;
  margin-left: 35%;
  margin-right: 35%;
}

.main-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  padding: 15px 30px;
  border: 4px solid black;
  background-color: purple;
  color: white;
  border-radius: 10px;
}
.main-button:hover {
  color: white;
}
