<% flash.each do |type, message| %>
  <% if type == 'success' %>
    <div class="notification notification-success" data-controller="removals" data-action="animationend->removals#remove"><%= message %></div>
  <% elsif type == 'error' %>
    <div class="notification notification-error" data-controller="removals" data-action="animationend->removals#remove"><%= message %></div>
  <% else %>
    <div class="notification notification-success" data-controller="removals" data-action="animationend->removals#remove"><%= message %></div>
  <% end %>
<% end %>