<div class="row m-0 p-0">
  <div class="col-4 m-0 p-0">
    <%= image_tag("Brainx_logo.png", alt: "logo") %>
  </div>
  <div class="col-8 m-0 p-0">
    <h1 class="display-1 fw-bold text-center bg py-3 m-0 text-light"><div class="text-dark d-inline">BRAINX</div> MEDIA</h1>
  </div>
</div>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse center-nav p-1">
      <ul class="navbar-nav">
        .<div class="fs-6 fst-italic text-light">
          <% if user_signed_in? %>
            <p>Signed in as <%= current_user.name %></p>
          <% end %>
        </div>
        <div id="flash"><%= render "layouts/flash" %></div>
      </ul>
    </div>
  </div>
</nav>