<h1 class="display-1 text-center bg py-2 m-0">BrainX Media</h1>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse center-nav p-2">
      <ul class="navbar-nav">
        .
      </ul>
    </div>
  </div>
</nav>