<div class="row no-gutter">
  <div class="col-4 no-gutter">
    <%= image_tag("Brainx_logo.png", alt: "logo") %>
  </div>
  <div class="col-8 no-gutter">
    <h1 class="display-1 text-center bg py-3 m-0 text-light">BRAINX MEDIA</h1>
  </div>
</div>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse center-nav p-2">
      <ul class="navbar-nav">
        .
      </ul>
    </div>
  </div>
</nav>